.dark {
  color-scheme: dark;
  color: var(--on-background);
  background-color: var(--background);
  
  --primary: rgb(255 181 160);
  --surface-tint: rgb(255 181 160);
  --on-primary: rgb(86 31 15);
  --primary-container: rgb(114 53 35);
  --on-primary-container: rgb(255 219 209);
  --secondary: rgb(231 189 178);
  --on-secondary: rgb(68 42 34);
  --secondary-container: rgb(93 64 55);
  --on-secondary-container: rgb(255 219 209);
  --tertiary: rgb(216 197 141);
  --on-tertiary: rgb(59 47 5);
  --tertiary-container: rgb(83 70 25);
  --on-tertiary-container: rgb(246 225 167);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(26 17 15);
  --on-background: rgb(241 223 218);
  --surface: rgb(26 17 15);
  --on-surface: rgb(241 223 218);
  --surface-variant: rgb(83 67 63);
  --on-surface-variant: rgb(216 194 188);
  --outline: rgb(160 140 135);
  --outline-variant: rgb(83 67 63);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(241 223 218);
  --inverse-on-surface: rgb(57 46 43);
  --inverse-primary: rgb(143 76 56);
  --primary-fixed: rgb(255 219 209);
  --on-primary-fixed: rgb(58 11 1);
  --primary-fixed-dim: rgb(255 181 160);
  --on-primary-fixed-variant: rgb(114 53 35);
  --secondary-fixed: rgb(255 219 209);
  --on-secondary-fixed: rgb(44 21 15);
  --secondary-fixed-dim: rgb(231 189 178);
  --on-secondary-fixed-variant: rgb(93 64 55);
  --tertiary-fixed: rgb(246 225 167);
  --on-tertiary-fixed: rgb(35 27 0);
  --tertiary-fixed-dim: rgb(216 197 141);
  --on-tertiary-fixed-variant: rgb(83 70 25);
  --surface-dim: rgb(26 17 15);
  --surface-bright: rgb(66 55 52);
  --surface-container-lowest: rgb(20 12 10);
  --surface-container-low: rgb(35 25 23);
  --surface-container: rgb(39 29 27);
  --surface-container-high: rgb(50 40 37);
  --surface-container-highest: rgb(61 50 47);
}
